<div class="mp-banner">
  <div class="mp-banner-text flex-column">
    <span id="text">Un mundo de servicios. <br>A tu alcance.</span>
    <div class="search-tools-yellowpages">
      <div class="searchbar searchbar-yellowpages">
        <form
        action="https://www.clasificadoselectronicos.com/cgi-bin/getadx.cgi"
        method="post"
        class="centralize-row">
        <input type="text" placeholder="que (y donde).." name="keyword">
        <input type="hidden" name="country" size="12" value="PR">
        <button class="centralize" type="submit">
          <span style="color: white;">
            <i class="fa fa-search fa-2x"></i>
            <span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="mp-banner-graphic">
      <img alt="banner" src="./assets/megagraphic4.png"/>
    </div>
  </div>
