<div id="data" style="display: none;">
abogados,#,aires acondicionados,#,alquiler,#,auto,#,
auto essentials,#,bar,#,belleza y salud,#,bicicletas,#,
bienes raices,#,
camas,#,cerrajero,#,contabilidad y consultoria,#,contratista,#,
dealer,#,
detectives,#,ebanisteria,#,empleo,#,empleos,#,energia renovable,#,
estimador,#,exterminadores,#,empleador,#,fumigacion,#,
gatos en venta,#,
generadores electricos,#,grua,#,inc,#,jardineria,#,
laboratorio clinico,#,
licores y picadera,#,limpiezas,#,manufactura,#,masajes,#,
mascotas,#,
mecanica,#,medico,#,maquina de presion,#,medicos,#,oferta,#,
pequeno,#,
perro,#,piezas de auto,#,pintor,#,pintura y construccion,#,
plantas y construccion,#,plantas electricas,#,plomeria,#,
prendas,#,
real estate,#,refrigeracion,#,remolque,#,reparacion,#,
reparacion de residencias,#,salud,#,salon de bellezas,#,
servicios,#,
servicios selado de techos,#,suplidor,#,sv casa,#,
terminacion y construccion,#,textiles,#,transportacion,#,
venderlo,#,
venta de frappe y frituras,#
</div>
