<!DOCTYPE html>
<html lang="es">
<head>
  <title>
    Megapaginas
  </title>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/6228ba2463.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="anime.min.js"></script>
  <script src="assets/js/script-##PAGE##.js"></script>
</head>
<body>
<div class="content centralize"><!-- this element is here beacuse of my incompetence -->
<div class="layer layer-yellowpages">
  </div>
<!--div class="offer centralize-row">
     <!--span class="highlight">
       ¡Realtors y Dealers!
     </span>
     1000 anuncios por $40 |
     Anuncios de tarjeta $60 por un año, 787-882-0592.
  </div-->
<div class="main-container flex-column">
  <div id="device-check"><!-- will be displayed if mobile,
    invisible if otherwise-->
  </div>
